@{ Layout = null;}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Faculty Page &#8211; My Blog</title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="My Blog &raquo; Feed" href="~/Res/feed/index.html">
    <link rel="alternate" type="application/rss+xml" title="My Blog &raquo; Comments Feed" href="~/Res/comments/feed/index.html">
    @*<script>
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": ".\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.3" } };
        !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>*@
    <style>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <div>
        <link rel="stylesheet" id="wp-block-library-css" href="~/Res/wp-includes/css/dist/block-library/style.min.css?ver=5.8.3" media="all">
        <style id="wp-block-library-theme-inline-css">
            #start-resizable-editor-section {
                display: none
            }

            .wp-block-audio figcaption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .wp-block-audio figcaption {
                color: hsla(0,0%,100%,.65)
            }

            .wp-block-code {
                font-family: Menlo,Consolas,monaco,monospace;
                color: #1e1e1e;
                padding: .8em 1em;
                border: 1px solid #ddd;
                border-radius: 4px
            }

            .wp-block-embed figcaption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .wp-block-embed figcaption {
                color: hsla(0,0%,100%,.65)
            }

            .blocks-gallery-caption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .blocks-gallery-caption {
                color: hsla(0,0%,100%,.65)
            }

            .wp-block-image figcaption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .wp-block-image figcaption {
                color: hsla(0,0%,100%,.65)
            }

            .wp-block-pullquote {
                border-top: 4px solid;
                border-bottom: 4px solid;
                margin-bottom: 1.75em;
                color: currentColor
            }

                .wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
                    color: currentColor;
                    text-transform: uppercase;
                    font-size: .8125em;
                    font-style: normal
                }

            .wp-block-quote {
                border-left: .25em solid;
                margin: 0 0 1.75em;
                padding-left: 1em
            }

                .wp-block-quote cite, .wp-block-quote footer {
                    color: currentColor;
                    font-size: .8125em;
                    position: relative;
                    font-style: normal
                }

                .wp-block-quote.has-text-align-right {
                    border-left: none;
                    border-right: .25em solid;
                    padding-left: 0;
                    padding-right: 1em
                }

                .wp-block-quote.has-text-align-center {
                    border: none;
                    padding-left: 0
                }

                .wp-block-quote.is-large, .wp-block-quote.is-style-large {
                    border: none
                }

            .wp-block-search .wp-block-search__label {
                font-weight: 700
            }

            .wp-block-group.has-background {
                padding: 1.25em 2.375em;
                margin-top: 0;
                margin-bottom: 0
            }

            .wp-block-separator {
                border: none;
                border-bottom: 2px solid;
                margin-left: auto;
                margin-right: auto;
                opacity: .4
            }

                .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
                    width: 100px
                }

                .wp-block-separator.has-background:not(.is-style-dots) {
                    border-bottom: none;
                    height: 1px
                }

                .wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
                    height: 2px
                }

            .wp-block-table thead {
                border-bottom: 3px solid
            }

            .wp-block-table tfoot {
                border-top: 3px solid
            }

            .wp-block-table td, .wp-block-table th {
                padding: .5em;
                border: 1px solid;
                word-break: normal
            }

            .wp-block-table figcaption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .wp-block-table figcaption {
                color: hsla(0,0%,100%,.65)
            }

            .wp-block-video figcaption {
                color: #555;
                font-size: 13px;
                text-align: center
            }

            .is-dark-theme .wp-block-video figcaption {
                color: hsla(0,0%,100%,.65)
            }

            .wp-block-template-part.has-background {
                padding: 1.25em 2.375em;
                margin-top: 0;
                margin-bottom: 0
            }

            #end-resizable-editor-section {
                display: none
            }
        </style>
        <link rel="stylesheet" id="templately-editor-css" href="~/Res/wp-content/plugins/templately/assets/css/editor.css?ver=1.3.1" media="all">
        <link rel="stylesheet" id="htbbootstrap-css" href="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/css/htbbootstrap.css?ver=1.7.3" media="all">
        <link rel="stylesheet" id="htmega-widgets-css" href="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/css/htmega-widgets.css?ver=1.7.3" media="all">
        <link rel="stylesheet" id="font-awesome-css" href="~/Res/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0" media="all">
        <link rel="stylesheet" id="htmega-animation-css" href="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/css/animation.css?ver=1.7.3" media="all">
        <link rel="stylesheet" id="htmega-keyframes-css" href="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/css/htmega-keyframes.css?ver=1.7.3" media="all">
        <link rel="stylesheet" id="twenty-twenty-one-style-css" href="~/Res/wp-content/themes/twentytwentyone/style.css?ver=1.4" media="all">
        <style id="twenty-twenty-one-style-inline-css">
            :root {
                --global--color-background: #f2e4de;
                --global--color-primary: #000;
                --global--color-secondary: #000;
                --button--color-background: #000;
                --button--color-text-hover: #000;
            }
        </style>
        <link rel="stylesheet" id="twenty-twenty-one-print-style-css" href="~/Res/wp-content/themes/twentytwentyone/assets/css/print.css?ver=1.4" media="print">
        <link rel="stylesheet" id="elementor-icons-css" href="~/Res/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.13.0" media="all">
        <link rel="stylesheet" id="elementor-frontend-legacy-css" href="~/Res/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.5.3" media="all">
        <link rel="stylesheet" id="elementor-frontend-css" href="~/Res/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.5.3" media="all">
        <link rel="stylesheet" id="elementor-post-5-css" href="~/Res/wp-content/uploads/elementor/css/post-5.css?ver=1642411177" media="all">
        <link rel="stylesheet" id="elementor-pro-css" href="~/Res/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=3.5.2" media="all">
        <link rel="stylesheet" id="elementor-global-css" href="~/Res/wp-content/uploads/elementor/css/global.css?ver=1642411178" media="all">
        <link rel="stylesheet" id="elementor-post-114-css" href="~/Res/wp-content/uploads/elementor/css/post-114.css?ver=1642505859" media="all">
        <link rel="stylesheet" id="elementor-post-8-css" href="~/Res/wp-content/uploads/elementor/css/post-8.css?ver=1642411178" media="all">
        <link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=5.8.3" media="all">
        <script src="~/Res/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
        <script src="~/Res/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
        <link rel="https://api.w.org/" href="~/Res//wp-json/index.html">
        <link rel="alternate" type="application/json" href="~/Res/wp-json/wp/v2/pages/114/index.html">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Res/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Res/wp-includes/wlwmanifest.xml">
        <meta name="generator" content="WordPress 5.8.3">
        <link rel="canonical" href="~/index.html">
        <link rel="shortlink" href="~/Res/index.html?p=114">
        <link rel="alternate" type="application/json+oembed" href="~/Res/wp-json/oembed/1.0/embed/index.html?url=https%3A%2F%2F%2Ffaculty-page%2F">
        <link rel="alternate" type="text/xml+oembed" href="~/Res/wp-json/oembed/1.0/embed/index.html?url=https%3A%2F%2F%2Ffaculty-page%2F&#038;format=xml">
        <style id="custom-background-css">
            body.custom-background {
                background-color: #f2e4de;
            }
        </style>
    </div>
</head>
<body class="page-template page-template-elementor_header_footer page page-id-114 custom-background wp-custom-logo wp-embed-responsive is-light-theme has-background-white no-js singular elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-114">

    <div data-elementor-type="header" data-elementor-id="8" class="elementor elementor-8 elementor-location-header" data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <header class="elementor-section elementor-top-section elementor-element elementor-element-7815dc1 elementor-section-content-middle elementor-section-height-min-height elementor-section-full_width elementor-section-items-stretch elementor-section-stretched elementor-section-height-default" data-id="7815dc1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-34f8f90" data-id="34f8f90" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6a6ac4b9 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="6a6ac4b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="theme-site-logo.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="319" height="47" src="~/Res/wp-content/uploads/2022/01/cropped-logokln.png" class="attachment-full size-full" alt="" loading="lazy" srcset="~/Res/wp-content/uploads/2022/01/cropped-logokln.png 319w, ~/Res/wp-content/uploads/2022/01/cropped-logokln-300x44.png 300w" sizes="(max-width: 319px) 100vw, 319px" style="width:100%;height:14.73%;max-width:319px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-445647d6" data-id="445647d6" data-element_type="column">
                            <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div data-elementor-type="wp-page" data-elementor-id="114" class="elementor elementor-114" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-359d1e1 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="359d1e1" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d67097d" data-id="d67097d" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-7189bcb elementor-widget elementor-widget-hotspot" data-id="7189bcb" data-element_type="widget" data-settings="{&quot;hotspot&quot;:[{&quot;_id&quot;:&quot;1f4eb22&quot;,&quot;hotspot_tooltip_content&quot;:&quot;&lt;p&gt;&lt;strong&gt;K14 (Faculty of Humanities)&lt;\/strong&gt;&lt;\/p&gt;&lt;p&gt;4 Floors&lt;\/p&gt;&lt;p&gt;8 Rooms&lt;\/p&gt;&lt;p&gt;1 Conference Room&lt;\/p&gt;&lt;p&gt;1 Large Hall &lt;\/p&gt;&quot;,&quot;hotspot_offset_x&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:69,&quot;sizes&quot;:[]},&quot;hotspot_offset_y&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:63,&quot;sizes&quot;:[]},&quot;hotspot_tooltip_position&quot;:&quot;&quot;,&quot;__dynamic__&quot;:[],&quot;hotspot_label&quot;:&quot;&quot;,&quot;hotspot_link&quot;:{&quot;url&quot;:&quot;&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;,&quot;custom_attributes&quot;:&quot;&quot;},&quot;hotspot_icon&quot;:{&quot;value&quot;:&quot;&quot;,&quot;library&quot;:&quot;&quot;},&quot;hotspot_icon_position&quot;:null,&quot;hotspot_icon_spacing&quot;:null,&quot;hotspot_custom_size&quot;:&quot;no&quot;,&quot;hotspot_width&quot;:null,&quot;hotspot_height&quot;:null,&quot;hotspot_horizontal&quot;:&quot;left&quot;,&quot;hotspot_offset_x_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_x_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_vertical&quot;:&quot;top&quot;,&quot;hotspot_offset_y_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_y_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_position&quot;:null,&quot;hotspot_position_tablet&quot;:null,&quot;hotspot_position_mobile&quot;:null,&quot;hotspot_tooltip_width&quot;:null,&quot;hotspot_tooltip_width_tablet&quot;:null,&quot;hotspot_tooltip_width_mobile&quot;:null,&quot;hotspot_tooltip_text_wrap&quot;:null},{&quot;hotspot_tooltip_content&quot;:&quot;&lt;p&gt;&lt;strong&gt;K10&lt;\/strong&gt;&lt;strong&gt; (Faculty of Humanities)&lt;\/strong&gt;&lt;\/p&gt;&lt;p&gt;Dancing Room&lt;\/p&gt;&lt;p&gt;Music Room&lt;\/p&gt;&quot;,&quot;hotspot_offset_x&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:73,&quot;sizes&quot;:[]},&quot;hotspot_offset_y&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:67,&quot;sizes&quot;:[]},&quot;hotspot_tooltip_position&quot;:&quot;&quot;,&quot;__dynamic__&quot;:[],&quot;_id&quot;:&quot;7994d2d&quot;,&quot;hotspot_label&quot;:&quot;&quot;,&quot;hotspot_link&quot;:{&quot;url&quot;:&quot;&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;,&quot;custom_attributes&quot;:&quot;&quot;},&quot;hotspot_icon&quot;:{&quot;value&quot;:&quot;&quot;,&quot;library&quot;:&quot;&quot;},&quot;hotspot_icon_position&quot;:null,&quot;hotspot_icon_spacing&quot;:null,&quot;hotspot_custom_size&quot;:&quot;no&quot;,&quot;hotspot_width&quot;:null,&quot;hotspot_height&quot;:null,&quot;hotspot_horizontal&quot;:&quot;left&quot;,&quot;hotspot_offset_x_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_x_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_vertical&quot;:&quot;top&quot;,&quot;hotspot_offset_y_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_y_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_position&quot;:null,&quot;hotspot_position_tablet&quot;:null,&quot;hotspot_position_mobile&quot;:null,&quot;hotspot_tooltip_width&quot;:null,&quot;hotspot_tooltip_width_tablet&quot;:null,&quot;hotspot_tooltip_width_mobile&quot;:null,&quot;hotspot_tooltip_text_wrap&quot;:null},{&quot;hotspot_tooltip_content&quot;:&quot;&lt;p&gt;&lt;strong&gt;K15 (Faculty of Humanities)&lt;\/strong&gt;&lt;\/p&gt;&lt;p&gt;2 Rooms&lt;\/p&gt;&lt;p&gt;Editing Studio&lt;\/p&gt;&lt;p&gt;Recording Studio&lt;\/p&gt;&quot;,&quot;hotspot_offset_x&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:55,&quot;sizes&quot;:[]},&quot;hotspot_offset_y&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:68,&quot;sizes&quot;:[]},&quot;hotspot_tooltip_position&quot;:&quot;&quot;,&quot;__dynamic__&quot;:[],&quot;_id&quot;:&quot;0b2aa1c&quot;,&quot;hotspot_label&quot;:&quot;&quot;,&quot;hotspot_link&quot;:{&quot;url&quot;:&quot;&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;,&quot;custom_attributes&quot;:&quot;&quot;},&quot;hotspot_icon&quot;:{&quot;value&quot;:&quot;&quot;,&quot;library&quot;:&quot;&quot;},&quot;hotspot_icon_position&quot;:null,&quot;hotspot_icon_spacing&quot;:null,&quot;hotspot_custom_size&quot;:&quot;no&quot;,&quot;hotspot_width&quot;:null,&quot;hotspot_height&quot;:null,&quot;hotspot_horizontal&quot;:&quot;left&quot;,&quot;hotspot_offset_x_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_x_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_vertical&quot;:&quot;top&quot;,&quot;hotspot_offset_y_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_offset_y_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;hotspot_position&quot;:null,&quot;hotspot_position_tablet&quot;:null,&quot;hotspot_position_mobile&quot;:null,&quot;hotspot_tooltip_width&quot;:null,&quot;hotspot_tooltip_width_tablet&quot;:null,&quot;hotspot_tooltip_width_mobile&quot;:null,&quot;hotspot_tooltip_text_wrap&quot;:null}],&quot;hotspot_sequenced_animation&quot;:&quot;yes&quot;,&quot;hotspot_sequenced_animation_duration&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:4010,&quot;sizes&quot;:[]},&quot;tooltip_position&quot;:&quot;bottom&quot;,&quot;tooltip_trigger&quot;:&quot;mouseenter&quot;,&quot;tooltip_animation&quot;:&quot;e-hotspot--fade-in-out&quot;}" data-widget_type="hotspot.default">
                                            <div class="elementor-widget-container">
                                                <img width="750" height="750" src="~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-1024x1024.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-1024x1024.jpg 1024w, ~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-300x300.jpg 300w, ~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-150x150.jpg 150w,  ~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-1536x1536.jpg 1536w, ~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2-1568x1568.jpg 1568w, ~/Res/wp-content/uploads/2022/01/Faculty-Of-Humanities-and-Social-science-2.jpg 2000w" sizes="(max-width: 750px) 100vw, 750px" style="width:100%;height:100%;max-width:2000px">
                                                <div class="e-hotspot elementor-repeater-item-1f4eb22 e-hotspot--sequenced e-hotspot--position-left e-hotspot--position-top   e-hotspot--circle">

                                                    <div class="e-hotspot__button e-hotspot--soft-beat">
                                                        <div class="e-hotspot__outer-circle"></div>
                                                        <div class="e-hotspot__inner-circle"></div>
                                                    </div>

                                                    <div class="e-hotspot__tooltip  e-hotspot--tooltip-position e-hotspot--fade-in-out ">
                                                        <p><strong>K14 (Faculty of Humanities)</strong></p>
                                                        <p>4 Floors</p>
                                                        <p>8 Rooms</p>
                                                        <p>1 Conference Room</p>
                                                        <p>1 Large Hall </p>
                                                    </div>

                                                </div>


                                                <div class="e-hotspot elementor-repeater-item-7994d2d e-hotspot--sequenced e-hotspot--position-left e-hotspot--position-top   e-hotspot--circle">

                                                    <div class="e-hotspot__button e-hotspot--soft-beat">
                                                        <div class="e-hotspot__outer-circle"></div>
                                                        <div class="e-hotspot__inner-circle"></div>
                                                    </div>

                                                    <div class="e-hotspot__tooltip  e-hotspot--tooltip-position e-hotspot--fade-in-out ">
                                                        <p><strong>K10</strong><strong> (Faculty of Humanities)</strong></p>
                                                        <p>Dancing Room</p>
                                                        <p>Music Room</p>
                                                    </div>

                                                </div>


                                                <div class="e-hotspot elementor-repeater-item-0b2aa1c e-hotspot--sequenced e-hotspot--position-left e-hotspot--position-top   e-hotspot--circle">

                                                    <div class="e-hotspot__button e-hotspot--soft-beat">
                                                        <div class="e-hotspot__outer-circle"></div>
                                                        <div class="e-hotspot__inner-circle"></div>
                                                    </div>

                                                    <div class="e-hotspot__tooltip  e-hotspot--tooltip-position e-hotspot--fade-in-out ">
                                                        <p><strong>K15 (Faculty of Humanities)</strong></p>
                                                        <p>2 Rooms</p>
                                                        <p>Editing Studio</p>
                                                        <p>Recording Studio</p>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3f6bcbb" data-id="3f6bcbb" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-ce9ca16 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="ce9ca16" data-element_type="widget" data-settings="{&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                            <div class="elementor-widget-container">
                                                <form class="elementor-form" method="post" name="New Form" asp-action="FacilityPost">
                                                    <input type="hidden" name="post_id" value="114">
                                                    <input type="hidden" name="form_id" value="ce9ca16">
                                                    <input type="hidden" name="referer_title" value="Faculty Page">

                                                    <input type="hidden" name="queried_id" value="114">

                                                    <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                            <label for="form-field-name" class="elementor-field-label">
                                                                Faculty
                                                            </label>
                                                            <div class="elementor-field elementor-select-wrapper ">
                                                                <select name="form_fields[name]" id="form-field-name" class="elementor-field-textual elementor-size-sm">
                                                                    <option value="Faculty Of Humanities">Faculty Of Humanities</option>
                                                                    <option value="Faculty Of Social Science">Faculty Of Social Science</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                            <label for="form-field-email" class="elementor-field-label">
                                                                Block
                                                            </label>
                                                            <div class="elementor-field elementor-select-wrapper ">
                                                                <select name="form_fields[email]" id="form-field-email" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
                                                                    <option value="K1">K1</option>
                                                                    <option value="K2">K2</option>
                                                                    <option value="K3">K3</option>
                                                                    <option value="K4">K4</option>
                                                                    <option value="K5">K5</option>
                                                                    <option value="K6">K6</option>
                                                                    <option value="K7">K7</option>
                                                                    <option value="K8">K8</option>
                                                                    <option value="K9">K9</option>
                                                                    <option value="K10">K10</option>
                                                                    <option value="K11">K11</option>
                                                                    <option value="K12">K12</option>
                                                                    <option value="K13">K13</option>
                                                                    <option value="K14">K14</option>
                                                                    <option value="K15">K15</option>
                                                                    <option value="K16">K16</option>
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-message elementor-col-100">
                                                            <label for="form-field-message" class="elementor-field-label">
                                                                Floor
                                                            </label>
                                                            <div class="elementor-field elementor-select-wrapper ">
                                                                <select name="form_fields[message]" id="form-field-message" class="elementor-field-textual elementor-size-sm">
                                                                    <option value="Floor 1">Floor 1</option>
                                                                    <option value="Floor 2">Floor 2</option>
                                                                    <option value="Floor 3">Floor 3</option>
                                                                    <option value="Floor 4">Floor 4</option>
                                                                    <option value="Floor 5">Floor 5</option>
                                                                    <option value="Floor 6">Floor 6</option>
                                                                    <option value="Floor 7">Floor 7</option>
                                                                    <option value="Floor 8">Floor 8</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-field-type-date elementor-field-group elementor-column elementor-field-group-field_b00216f elementor-col-100 elementor-field-required">
                                                            <label for="form-field-field_b00216f" class="elementor-field-label">
                                                                Check Date
                                                            </label>

                                                            <input type="date" name="form_fields[field_b00216f]" id="form-field-field_b00216f" class="elementor-field elementor-size-sm  elementor-field-textual elementor-date-field elementor-use-native" required="required" aria-required="true" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                                        </div>
                                                        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                                            <button type="submit" class="elementor-button elementor-size-sm">
                                                                <span>
                                                                    <span class=" elementor-button-icon">
                                                                    </span>
                                                                    <span class="elementor-button-text">View Facilities and Availability</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-14b5304 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="14b5304" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                            <div class="elementor-widget-container">
                                                <form class="elementor-form" method="post" name="New Form" asp-action="BookNowPost">
                                                    <input type="hidden" name="post_id" value="114">
                                                    <input type="hidden" name="form_id" value="14b5304">
                                                    <input type="hidden" name="referer_title" value="Faculty Page">

                                                    <input type="hidden" name="queried_id" value="114">

                                                    <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                            <label for="form-field-name" class="elementor-field-label">
                                                                Room
                                                            </label>
                                                            <div class="elementor-field elementor-select-wrapper ">
                                                                <select name="form_fields[name]" id="form-field-name" class="elementor-field-textual elementor-size-md">
                                                                    <option value="Room 101">Room 101</option>
                                                                    <option value="Room 102">Room 102</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-field-type-time elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                            <label for="form-field-email" class="elementor-field-label">
                                                                Time
                                                            </label>
                                                            <input type="time" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual elementor-time-field elementor-use-native" placeholder="Time" required="required" aria-required="true">
                                                        </div>
                                                        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                                            <button type="submit" class="elementor-button elementor-size-sm">
                                                                <span>
                                                                    <span class=" elementor-button-icon">
                                                                    </span>
                                                                    <span class="elementor-button-text">Book Now</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-f5261b0 elementor-align-justify elementor-widget elementor-widget-button" data-id="f5261b0" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjQ0MCIsInRvZ2dsZSI6ZmFsc2V9" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-button-text">Click Availability  and Book</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>document.body.classList.remove("no-js");</script>
    <script>
        if (-1 !== navigator.userAgent.indexOf('MSIE') || -1 !== navigator.appVersion.indexOf('Trident/')) {
            document.body.classList.add('is-IE');
        }
    </script>
    <div data-elementor-type="popup" data-elementor-id="440" class="elementor elementor-440 elementor-location-popup" data-elementor-settings="{&quot;timing&quot;:[]}">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-348c3b87 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="348c3b87" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5deb22d5" data-id="5deb22d5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-8ac89c8 elementor-view-stacked elementor-shape-square elementor-widget elementor-widget-icon" data-id="8ac89c8" data-element_type="widget" data-widget_type="icon.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-wrapper">
                                                <a class="elementor-icon" href="#elementor-action%3Aaction%3Dpopup%3Aclose%26settings%3DeyJkb19ub3Rfc2hvd19hZ2FpbiI6IiJ9">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4eff333f elementor-widget elementor-widget-heading" data-id="4eff333f" data-element_type="widget" data-settings="{&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Availability </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9cddc1b elementor-widget elementor-widget-htmega-customevent-addons" data-id="9cddc1b" data-element_type="widget" data-widget_type="htmega-customevent-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-event-area">
                                                <div class="ht-event">
                                                    <div class="thumb">
                                                        <a>
                                                            <img width="750" height="373" src="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg 1024w, ~/Res/wp-content/uploads/2022/01/1-300x149.jpg 300w" sizes="(max-width: 750px) 100vw, 750px" style="width:100%;height:49.7%;max-width:1664px;">
                                                        </a>
                                                        <div class="event-date">
                                                            <span>18</span>
                                                            <span class="month">Jan</span>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="#">Lecture - Introducton to Art</a></h4>                        <ul class="event-time">
                                                            <li>
                                                                <i class="fa fa-clock-o"></i>12:00 pm
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-abb580f elementor-widget elementor-widget-htmega-customevent-addons" data-id="abb580f" data-element_type="widget" data-widget_type="htmega-customevent-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-event-area">
                                                <div class="ht-event">
                                                    <div class="thumb">
                                                        <a>
                                                            <img width="750" height="373" src="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg 1024w, ~/Res/wp-content/uploads/2022/01/1-300x149.jpg 300w, ~/Res/wp-content/uploads/2022/01/1-768x382.jpg 768w, ~/Res/wp-content/uploads/2022/01/1-1536x763.jpg 1536w, ~/Res/wp-content/uploads/2022/01/1-1568x779.jpg 1568w, ~/Res/wp-content/uploads/2022/01/1.jpg 1664w" sizes="(max-width: 750px) 100vw, 750px" style="width:100%;height:49.7%;max-width:1664px;">
                                                        </a>
                                                        <div class="event-date">
                                                            <span>18</span>
                                                            <span class="month">Jan</span>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="#">Lecture - Introducton to Art</a></h4>                        <ul class="event-time">
                                                            <li>
                                                                <i class="fa fa-clock-o"></i>12:00 pm
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8c59e30 elementor-widget elementor-widget-htmega-customevent-addons" data-id="8c59e30" data-element_type="widget" data-widget_type="htmega-customevent-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-event-area">
                                                <div class="ht-event">
                                                    <div class="thumb">
                                                        <a>
                                                            <img width="750" height="373" src="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="~/Res/wp-content/uploads/2022/01/1-1024x509.jpg 1024w, ~/Res/wp-content/uploads/2022/01/1-300x149.jpg 300w, ~/Res/wp-content/uploads/2022/01/1-768x382.jpg 768w, ~/Res/wp-content/uploads/2022/01/1-1536x763.jpg 1536w, ~/Res/wp-content/uploads/2022/01/1-1568x779.jpg 1568w, ~/Res/wp-content/uploads/2022/01/1.jpg 1664w" sizes="(max-width: 750px) 100vw, 750px" style="width:100%;height:49.7%;max-width:1664px;">
                                                        </a>
                                                        <div class="event-date">
                                                            <span>18</span>
                                                            <span class="month">Jan</span>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="#">Lecture - Introducton to Art</a></h4>                        <ul class="event-time">
                                                            <li>
                                                                <i class="fa fa-clock-o"></i>12:00 pm
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-1aab60d4 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1aab60d4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-57afd16c" data-id="57afd16c" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1b99372a elementor-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="1b99372a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">Book Now</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <link rel="stylesheet" id="flatpickr-css" href="~/Res/wp-content/plugins/elementor/assets/lib/flatpickr/flatpickr.min.css?ver=4.1.4" media="all">
    <link rel="stylesheet" id="elementor-post-440-css" href="~/Res/wp-content/uploads/elementor/css/post-440.css?ver=1642505909" media="all">
    <link rel="stylesheet" id="e-animations-css" href="~/Res/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.5.3" media="all">
    <link rel="stylesheet" id="google-fonts-2-css" href="https://fonts.googleapis.com/css?family=Prompt%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=5.8.3" media="all">
    <script src="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/js/popper.min.js?ver=1.7.3" id="htmega-popper-js"></script>
    <script src="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/js/htbbootstrap.js?ver=1.7.3" id="htbbootstrap-js"></script>
    <script src="~/Res/wp-content/plugins/ht-mega-for-elementor/assets/js/waypoints.js?ver=1.7.3" id="waypoints-js"></script>
    <script id="twenty-twenty-one-ie11-polyfills-js-after">
        (Element.prototype.matches && Element.prototype.closest && window.NodeList && NodeList.prototype.forEach) || document.write('<script src="~/wp-content/themes/twentytwentyone/assets/js/polyfills.js?ver=1.4"><\/scr' + 'ipt>');
    </script>
    <script src="~/Res/wp-content/themes/twentytwentyone/assets/js/responsive-embeds.js?ver=1.4" id="twenty-twenty-one-responsive-embeds-script-js"></script>
    <script src="~/Res/wp-includes/js/wp-embed.min.js?ver=5.8.3" id="wp-embed-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/lib/flatpickr/flatpickr.min.js?ver=4.1.4" id="flatpickr-js"></script>
    <script src="~/Res/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js?ver=3.5.2" id="elementor-pro-webpack-runtime-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.5.3" id="elementor-webpack-runtime-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.5.3" id="elementor-frontend-modules-js"></script>
    <script id="elementor-pro-frontend-js-before">
        var ElementorProFrontendConfig = { "ajaxurl": ".\/wp-admin\/admin-ajax.php", "nonce": "2dea690730", "urls": { "assets": ".\/wp-content\/plugins\/elementor-pro\/assets\/", "rest": ".\/wp-json\/" }, "i18n": { "toc_no_headings_found": "No headings were found on this page." }, "shareButtonsNetworks": { "facebook": { "title": "Facebook", "has_counter": true }, "twitter": { "title": "Twitter" }, "linkedin": { "title": "LinkedIn", "has_counter": true }, "pinterest": { "title": "Pinterest", "has_counter": true }, "reddit": { "title": "Reddit", "has_counter": true }, "vk": { "title": "VK", "has_counter": true }, "odnoklassniki": { "title": "OK", "has_counter": true }, "tumblr": { "title": "Tumblr" }, "digg": { "title": "Digg" }, "skype": { "title": "Skype" }, "stumbleupon": { "title": "StumbleUpon", "has_counter": true }, "mix": { "title": "Mix" }, "telegram": { "title": "Telegram" }, "pocket": { "title": "Pocket", "has_counter": true }, "xing": { "title": "XING", "has_counter": true }, "whatsapp": { "title": "WhatsApp" }, "email": { "title": "Email" }, "print": { "title": "Print" } }, "facebook_sdk": { "lang": "en_US", "app_id": "" }, "lottie": { "defaultAnimationUrl": "~\/\/Res\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json" } };
    </script>
    <script src="~/Res/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=3.5.2" id="elementor-pro-frontend-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2" id="elementor-waypoints-js"></script>
    <script src="~/Res/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1" id="jquery-ui-core-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6" id="swiper-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.5.3" id="share-link-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.9.0" id="elementor-dialog-js"></script>
    @*<script id="elementor-frontend-js-before">
        var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Extra", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Extra", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.5.3", "is_static": false, "experimentalFeatures": { "e_import_export": true }, "urls": { "assets": ".\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 114, "title": "Faculty%20Page%20%E2%80%93%20My%20Blog", "excerpt": "", "featuredImage": false } };
    </script>*@
    <script src="~/Res/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.5.3" id="elementor-frontend-js"></script>
    <script src="~/Res/wp-content/plugins/elementor-pro/assets/js/preloaded-elements-handlers.min.js?ver=3.5.2" id="pro-preloaded-elements-handlers-js"></script>
    <script src="~/Res/wp-content/plugins/elementor/assets/js/preloaded-modules.min.js?ver=3.5.3" id="preloaded-modules-js"></script>
    <script src="~/Res/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=3.5.2" id="e-sticky-js"></script>
    <script>
        /(trident|msie)/i.test(navigator.userAgent) && document.getElementById && window.addEventListener && window.addEventListener("hashchange", (function () { var t, e = location.hash.substring(1); /^[A-z0-9_-]+$/.test(e) && (t = document.getElementById(e)) && (/^(?:a|select|input|button|textarea)$/i.test(t.tagName) || (t.tabIndex = -1), t.focus()) }), !1);
    </script>

</body>


<!--
Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/

Object Caching 26/55 objects using apc
Page Caching using apc
Database Caching using apc (Request-wide modification query)

Ser0
    ed from: www.wisdomsl.com  2022-01-18 11:59:16 by W3 Total Cache
-->
</html>